<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book1</title>
</head>
<body>
    <style>
        .sidebar{
            position: fixed;
            left: 0;
            width: 250px;
            height: 100%;
        }
        .content{
            margin-left: 150px;
            font-size: 18px;
            text-align: left;
        }
        .description{
            margin-left:500px;
            font-size: 18px;
            text-align: left;
            left: 2;
        }
    </style>
    <div class="sidebar">
    <ul>
        <li><a href="index.html">Homepage</a></li>
        <li><a href="books.html">Books</a></li>
        <li><a href="contactus.html">Contact Us</a></li>
        <li><a href="survey.html">Survey</a></li>
    </ul>
</div>
<div class="content">
    <img src="images/book1.jpg" alt="" title="book2" width="250" height="350" ALIGN="left"><h2>The Bible</h2><p>This is the book that contains the old testament and old testament</p>
</div>
</body>
</html>