<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book2</title>
</head>
<body>
    <style>
        .sidebar{
            position: fixed;
            left: 0;
            width: 250px;
            height: 100%;
        }
        .content{
            margin-left: 150px;
            font-size: 18px;
            text-align: left;
        }
    </style>
    <div class="sidebar">
    <ul>
        <li><a href="index.html">Homepage</a></li>
        <li><a href="books.html">Books</a></li>
        <li><a href="contactus.html">Contact Us</a></li>
        <li><a href="survey.html">Survey</a></li>
    </ul>
</div>
<div class="content">
    <img src="images/book2.jpg" alt="" title="book1" width="250" height="350" ALIGN="left"><h2>The Hunger Games</h2><p>In what was once North America, the Capitol of Panem maintains its hold on its 12 districts by forcing them each to select a boy and a girl, called Tributes, to compete in a nationally televised event called the Hunger Games. Every citizen must watch as the youths fight to the death until only one remains. District 12 Tribute Katniss Everdeen (Jennifer Lawrence) has little to rely on, other than her hunting skills and sharp instincts, in an arena where she must weigh survival against love.</p>
    
</div>
</body>
</html>