<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of books</title>
</head>
<body>
    <style>
        .sidebar{
            position: fixed;
            left: 0;
            width: 250px;
            height: 100%;
        }
        .content{
            margin-left: 150px;
            font-size: 18px;
            text-align: left;
        }
    </style>
    <div class="sidebar">
    <ul>
        <li><a href="index.html">Homepage</a></li>
        <li><a href="books.html">Books</a></li>
        <li><a href="contactus.html">Contact Us</a></li>
        <li><a href="survey.html">Survey</a></li>
    </ul>
</div>
<div class="content">
    <h1>Selection of Books</h1>
    <a href="books1.html"><img src="images/book1.jpg" alt="" title="book1" width="150" height="250"></a>The Bible
    <hr>
    <a href="books2.html"><img src="images/book2.jpg" alt="" title="book2" width="150" height="250"></a>The Hunger Games
    <hr>
    <a href="books3.html"><img src="images/book3.jpg" alt="" title="book3" width="150" height="250"></a>Naruto Volume 1

</div>
</body>
</html>