<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <style>
        .sidebar{
            position: fixed;
            left: 0;
            width: 250px;
            height: 100%;
        }
        .content{
            margin-left: 150px;
            font-size: 18px;
        }
    </style>
    <div class="sidebar">
    <ul>
        <li><a href="index.html">Homepage</a></li>
        <li><a href="books.html">Books</a></li>
        <li><a href="contactus.html">Contact Us</a></li>
        <li><a href="survey.html">Survey</a></li>
    </ul>
</div>
<div class="content">
    <h1>Welcome to the Mobasery Library</h1>
    <p>Click on the links on the side to navigate around the site.</p>
</div>
</body>
</html>